<h1>Image Uploaded</h1>

<h4>Search by Tag</h4>
<%= form_tag(tagged_path, method: :get) do %>
  <%= text_field_tag :tag, params[:tag] %>
  <%= submit_tag 'Search' %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Tags</th>
  </tr>

  <% @pictures.reverse_each do |picture| %>
    <tr>
      <td><%= picture.name %></td>
      <td><%= image_tag src = picture.link %></td>
      <td>
        <div>
          <span class = 'js_tag'>Tags: </span>
          <% picture.tag_list.each do |tag| %>
            <%= link_to tag, tagged_path(tag: tag) %>
          <% end %>
        </div>
      </td>
      <td><%= link_to 'Show', picture_path(picture) %></td>
      <td> <%= render partial: 'destroy_btn', locals: {p: picture} %></td>
    </tr>
  <% end %>
</table>
