<p>
  <strong>Name:</strong>
  <div id='name'><%= @picture.name %></div>
</p>

<p>
  <div id='image'><%= image_tag src=@picture.link %></div>
</p>

<div>
  <strong>Tags:</strong>
  <div id='tag_list'>
    <% @picture.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag) %>
    <% end %>
  </div>
</div><br>

<p>
  <%= render partial: 'destroy_btn', locals: {p: @picture} %>
</p>

<p>
  <%= link_to 'âŽBack', pictures_path, method: :get, class: 'js-back-btn'%>
</p>
